@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

.header, .footer {
  display: flex;
  justify-content: space-around;
}


.footer {
  background-color: rgb(244, 244, 244);
}
.left-links, .right-links {
  display: flex;
  justify-content: space-between;
}

.left-links {
  margin-right: auto;
  margin-left: 0;
}
ul {
  list-style: none;
}

li {
  margin: 10px;
}
a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  flex-basis: 100%;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
